# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
.pytest_cache/

# Alembic
alembic/versions/*.pyc

# Entorno
.env
*.env.local
!.env.example

# Node
node_modules/
frontend/dist/
frontend/.env.local

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
